.seatRow {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 50%;
  justify-content: space-around;
}

.btn-primary{
  background-color: #dc3545;
  border-color: #343a40;
}
